<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Slab" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Noto+Sans&family=Original+Surfer&display=swap"
    rel="stylesheet">
  {{>style_add_user_SP}}
  <!-- <link rel="stylesheet" href="../css/style_add_user_SP.css"> -->
  <title>HortiGrow</title>
  <link rel="shortcut icon" type="image/x-icon" href="../Images/fav.ico">
</head>

<body>

  <article class="container">

    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href="/index">Home</a></li>
        
        <li><a href="#">Manage</a>
            <ul class="dropdown">
              <li><a href="/Index/manage_user">users</a></li>
              <li><a href="/Index/manage_product">Products</a></li>
            </ul>
          
        </li>
        <li>
            <a href="#">Reports</a>
              <ul class="dropdown">
                <li><a href="/Index/user_report">Users</a></li>
                <li><a href="/Index/product_report">Products</a></li>
                <li><a href="/Index/order_report">Orders</a></li>
              </ul>
          </li>
        <li><a href="#"><i class="fa fa-user"></i></a>
        <ul class="dropdown">
                <li><a href="/Index/signIn">Logout</a></li>
              </ul></li>
      </ul>
    </nav>

    <!-- Responsive Navbar-->
    <section class="menu-btn">
      +
    </section>

    <!-- Main Heading-->
    
    <section class="section-follow">
        <h3 class="follow-me">Update New User</h3>
      </section>


    <section>
        <section class="description">
            <div class="Container">
            <form method="POST" action="/Index" autocomplete="off" id="update_user">
            <input type="hidden" name="_id" value="">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light" value="">User Name</label>
                        
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="john seol">
                        <label for="email" class="text-light">Email</label>
                        <input type="email" name="email" value="" placeholder="xyz@gmail.com">
                        <label for="Contact" class="text-light">Contact</label>
                        <input type="text" name="contact" maxlength="10" value="" placeholder="9898989898">
                    </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
        
            </div>
            </form>
        </div>
        </section>
    </section>


    <!-- Footer-->
    <footer>
      HortiGrow &copy; 2021
    </footer>

  </article>

  <script>
    const menuBtn = document.querySelector(".menu-btn");
const nav = document.querySelector("nav");

menuBtn.addEventListener("click", function () {
  menuBtn.classList.toggle("active");
  nav.classList.toggle("active");
})

window.addEventListener("scroll", function () {
  if (window.pageYOffset > 4) {
    nav.classList.add("scrolled");
  } else {
    nav.classList.remove("scrolled");
  }
})
  </script>

</body>

</html>